In [1]:
import pandas as pd

In [3]:
df = pd.read_csv(r"C:\Users\Admin\Downloads\GSE\Global_Space_Exploration_Dataset.csv")

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Country                  3000 non-null   object
 1   Year                     3000 non-null   int64
 2   Mission Name             3000 non-null   object
 3   Mission Type             3000 non-null   object
 4   Launch Site              3000 non-null   object
 5   Satellite Type           3000 non-null   object
 6   Budget (in Billion $)    3000 non-null   float64
 7   Success Rate (%)         3000 non-null   int64
 8   Technology Used          3000 non-null   object
 9   Environmental Impact     3000 non-null   object
 10  Collaborating Countries  3000 non-null   object
 11  Duration (in Days)       3000 non-null   int64
dtypes: float64(1), int64(3), object(8)
memory usage: 281.4+ KB

In [5]:
df.describe()

,Year,Budget (in Billion $),Success Rate (%),Duration (in Days)
count,3000.000000,3000.000000,3000.000000,3000.000000
mean,2012.471000,25.428917,74.985000,181.483000
std,7.437177,14.108438,14.945252,104.983822
min,2000.000000,0.530000,50.000000,1.000000
25%,2006.000000,12.977500,62.000000,91.000000
50%,2012.000000,25.495000,75.000000,180.000000
75%,2019.000000,37.597500,88.000000,272.000000
max,2025.000000,49.970000,100.000000,365.000000

In [10]:
df.isna().sum()

Country                    0
Year                       0
Mission Name               0
Mission Type               0
Launch Site                0
Satellite Type             0
Budget (in Billion $)      0
Success Rate (%)           0
Technology Used            0
Environmental Impact       0
Collaborating Countries    0
Duration (in Days)         0
dtype: int64

In [11]:
# Trends over years